/* import font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/* import h2 font style */


body {
    background-color: #FFDC88;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 2px;
}

p {
    font-weight: 300;
}

/* start of nav style */
nav {
    flex-basis: 100%;
    padding: 30px 10px;
    text-align: center;
    cursor: pointer;
    height: 50px;
}

nav li {
    list-style-type: none;
    display: inline;
    padding-right: 50px;
    padding-left: 50px;
}

ul {
    display: inline;
    width: 100%;
}

/* end of nav style */

.card-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    height: 800px;
    width: 80%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 170px;
    border-radius: 40px;
    background-color: #F8F4E8;

}

.main-box-1 {
    margin: 0 50px;
}

.main-box-2 {
    margin: 0 50px;
}

.image {
    background-image: url("/assets/img/host.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

button {
    font-family: 'Open Sans', sans-serif;
    background-color: #4977e8;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.contact-button {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffa497;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

input {
    font-family: 'Open Sans', sans-serif;
    padding: 12px 10px;
    border: none;
    border-radius: 10px;
}

.submit {
    font-family: 'Open Sans', sans-serif;
    background-color: #4977e8;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.fa-rocket {
    font-size: 26px !important;
}


@media only screen and (max-width: 1200px) {
    
    nav {
        display: none;
    }
    
    .card-box {
        margin: auto 10px;
    }
}